**Problem 1**
Clean up the file. This means getting rid of duplicates; you can assume that no student can register for the same course more than once. How many duplicate records do you find? Some of the fields have bad or missing values; repair those that you can (and explain what a repair means).

Note that unit tests are included throughout the file after the functionality of each

In [1]:
import pandas as pd
import csv
import sys

Opening the data: Because of the number of corrupted lines/entries in the data, it was impossible to open the data as a full file by reading it into a pandas dataframe or even by reading it in line by line. The code below tries to read each line, and appends only the lines that are open-able to a list, good_lines. We count the number of bad lines

In [2]:
# Note - change file path or put csv in your directory to run this code yourself
with open('/dirty_sample_small.csv') as f:
    length = 661486
    good_lines = []
    bad_lines = 0
    for i in range(length):
        try:
            value = f.readline()
            good_lines.append(value)
        except:
            bad_lines += 1
    print("This file has", bad_lines, "unreadable lines")

This file has 0 unreadable lines

In [3]:
print("We are left with", len(good_lines), "readable lines.")

We are left with 661486 readable lines.

Read in header to figure out which categories we are supposed to have in our dataframe.

In [4]:
# Create header dataframe from header csv
header = pd.DataFrame.from_csv('/dirty_sample_small_header.csv')
header.loc[-1] = ['course_id']
header.index = header.index + 1
header = header.sort_index()
header = header.transpose()
header

/Users/Serena/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: from_csv is deprecated. Please use read_csv(...) instead. Note that some of the default arguments are different, so please refer to the documentation for from_csv when changing your function calls

0,0,2,3,4,5,6,7,8,9,10,...,39,40,41,42,43,44,45,46,47,48
course_id,course_id,user_id,registered,viewed,explored,certified,completed,ip,cc_by_ip,countryLabel,...,nforum_pinned,roles,nprogcheck,nproblem_check,nforum_events,mode,is_active,cert_created_date,cert_modified_date,cert_status

In [5]:
good_lines[:2]

['course_id,user_id,registered,viewed,explored,certified,completed,ip,cc_by_ip,countryLabel,continent,city,region,subdivision,postalCode,un_major_region,un_economic_group,un_developing_nation,un_special_region,latitude,longitude,LoE,YoB,gender,grade,passing_grade,start_time,first_event,last_event,nevents,ndays_act,nplay_video,nchapters,nforum_posts,nforum_votes,nforum_endorsed,nforum_threads,nforum_comments,nforum_pinned,roles,nprogcheck,nproblem_check,nforum_events,mode,is_active,cert_created_date,cert_modified_date,cert_status\n',
 'HarvardX/PH525.1x/1T2018,7940,False,,False,False,81.108.107.58,GB,United Kingdom,Europe,Middlesbrough,MDB,Middlesbrough,,Northern Europe,Developed regions,,,54.5728,-1.1628,,,,,0.7,2018-04-10 08:30:28,2018-04-10 08:30:28.055918,2018-04-10 08:30:38.600946,6,2,0,,,,,,,,Student,0,0,0,audit,1,,,,\n']

In [6]:
df = pd.DataFrame([sub.split(",") for sub in good_lines])

In [7]:
# TEST - ensure that dataframe works
print(len(df))

661486

In [8]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,39,40,41,42,43,44,45,46,47,48
0,course_id,user_id,registered,viewed,explored,certified,completed,ip,cc_by_ip,countryLabel,...,roles,nprogcheck,nproblem_check,nforum_events,mode,is_active,cert_created_date,cert_modified_date,cert_status\n,None
1,HarvardX/PH525.1x/1T2018,7940,False,,False,False,81.108.107.58,GB,United Kingdom,Europe,...,0,0,0,audit,1,,,,\n,None
2,HarvardX/PH525.1x/1T2018,7940,False,,False,False,81.108.107.58,GB,United Kingdom,Europe,...,0,0,0,audit,1,,,,\n,None
3,HarvardX/PH525.1x/1T2018,7940,False,,False,False,81.108.107.58,GB,United Kingdom,Europe,...,0,0,0,audit,1,,,,\n,None
4,HarvardX/PH525.1x/1T2018,7940,False,,False,False,81.108.107.58,GB,United Kingdom,Europe,...,0,0,0,audit,1,,,,\n,None

In [9]:
df.drop([0])

,0,1,2,3,4,5,6,7,8,9,...,39,40,41,42,43,44,45,46,47,48
1,HarvardX/PH525.1x/1T2018,7940,False,,False,False,81.108.107.58,GB,United Kingdom,Europe,...,0,0,0,audit,1,,,,\n,None
2,HarvardX/PH525.1x/1T2018,7940,False,,False,False,81.108.107.58,GB,United Kingdom,Europe,...,0,0,0,audit,1,,,,\n,None
3,HarvardX/PH525.1x/1T2018,7940,False,,False,False,81.108.107.58,GB,United Kingdom,Europe,...,0,0,0,audit,1,,,,\n,None
4,HarvardX/PH525.1x/1T2018,7940,False,,False,False,81.108.107.58,GB,United Kingdom,Europe,...,0,0,0,audit,1,,,,\n,None
5,HarvardX/PH525.1x/1T2018,7940,False,,False,False,81.108.107.58,GB,United Kingdom,Europe,...,0,0,0,audit,1,,,,\n,None
6,HarvardX/PH525.1x/1T2018,7940,False,,False,False,81.108.107.58,GB,United Kingdom,Europe,...,0,0,0,audit,1,,,,\n,None
7,HarvardX/PH525.1x/1T2018,7940,False,,False,False,81.108.107.58,GB,United Kingdom,Europe,...,0,0,0,audit,1,,,,\n,None
8,HarvardX/PH525.1x/1T2018,7940,False,,False,False,81.108.107.58,GB,United Kingdom,Europe,...,0,0,0,audit,1,,,,\n,None
9,HarvardX/PH525.1x/1T2018,7940,False,,False,False,81.108.107.58,GB,United Kingdom,Europe,...,0,0,0,audit,1,,,,\n,None
10,HarvardX/PH525.1x/1T2018,7940,False,,False,False,81.108.107.58,GB,United Kingdom,Europe,...,0,0,0,audit,1,,,,\n,None
11,HarvardX/PH525.1x/1T2018,7940,False,,False,False,81.108.107.58,GB,United Kingdom,Europe,...,0,0,0,audit,1,,,,\n,None
12,HarvardX/PH525.1x/1T2018,7940,False,,False,False,81.108.107.58,GB,United Kingdom,Europe,...,0,0,0,audit,1,,,,\n,None
13,HarvardX/PH525.1x/1T2018,7940,False,,False,False,81.108.107.58,GB,United Kingdom,Europe,...,0,0,0,audit,1,,,,\n,None
14,HarvardX/PH525.1x/1T2018,7940,False,,False,False,81.108.107.58,GB,United Kingdom,Europe,...,0,0,0,audit,1,,,,\n,None
15,HarvardX/PH525.1x/1T2018,7940,False,,False,False,81.108.107.58,GB,United Kingdom,Europe,...,0,0,0,audit,1,,,,\n,None
16,HarvardX/PH525.1x/1T2018,21193,True,True,False,False,103.108.88.2,,,,...,0,142,0,audit,0,,,,\n,None
17,HarvardX/PH525.1x/1T2018,21193,True,True,False,False,103.108.88.2,,,,...,0,142,0,audit,0,,,,\n,None
18,HarvardX/PH525.1x/1T2018,21193,True,True,False,False,103.108.88.2,,,,...,0,142,0,audit,0,,,,\n,None
19,HarvardX/PH525.1x/1T2018,21193,True,True,False,False,103.108.88.2,,,,...,0,142,0,audit,0,,,,\n,None
20,HarvardX/PH525.1x/1T2018,21193,True,True,False,False,103.108.88.2,,,,...,0,142,0,audit,0,,,,\n,None
21,HarvardX/PH525.1x/1T2018,21193,True,True,False,False,103.108.88.2,,,,...,0,142,0,audit,0,,,,\n,None
22,HarvardX/PH525.1x/1T2018,21193,True,True,False,False,103.108.88.2,,,,...,0,142,0,audit,0,,,,\n,None
23,HarvardX/PH525.1x/1T2018,21193,True,True,False,False,103.108.88.2,,,,...,0,142,0,audit,0,,,,\n,None
24,HarvardX/PH525.1x/1T2018,21193,True,True,False,False,103.108.88.2,,,,...,0,142,0,audit,0,,,,\n,None
25,HarvardX/PH525.1x/1T2018,21193,True,True,False,False,103.108.88.2,,,,...,0,142,0,audit,0,,,,\n,None
26,HarvardX/PH525.1x/1T2018,21193,True,True,False,False,103.108.88.2,,,,...,0,142,0,audit,0,,,,\n,None
27,HarvardX/PH525.1x/1T2018,21193,True,True,False,False,103.108.88.2,,,,...,0,142,0,audit,0,,,,\n,None
28,HarvardX/PH525.1x/1T2018,21193,True,True,False,False,103.108.88.2,,,,...,0,142,0,audit,0,,,,\n,None
29,HarvardX/PH525.1x/1T2018,21193,True,True,False,False,103.108.88.2,,,,...,0,142,0,audit,0,,,,\n,None
30,HarvardX/PH525.1x/1T2018,21193,True,True,False,False,103.108.88.2,,,,...,0,142,0,audit,0,,,,\n,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
661456,HarvardX/CS50x/2014_T1,1934448,True,False,,False,False,,,,...,Student,,,,honor,1,2014-06-06 15:15:08,2014-09-15 16:41:22,notpassing,\n
661457,HarvardX/CS50x/2014_T1,1934683,True,False,,False,False,94.54.53.235,TR,Turkey,...,Student,0,0,0,honor,0,2014-06-06 15:08:25,2014-09-15 16:35:38,notpassing,\n
661458,HarvardX/CS50x/2014_T1,1934683,True,False,,False,False,94.54.53.235,TR,Turkey,...,Student,0,0,0,honor,0,2014-06-06 15:08:25,2014-09-15 16:35:38,notpassing,\n
661459,HarvardX/CS50x/2014_T1,1934683,True,False,,False,False,94.54.53.235,TR,Turkey,...,Student,0,0,0,honor,0,2014-06-06 15:08:25,2014-09-15 16:35:38,notpassing,\n
661460,HarvardX/CS50x/2014_T1,1934683,True,False,,False,False,94.54.53.235,TR,Turkey,...,Student,0,0,0,honor,0,2014-06-06 15:08:25,2014-09-15 16:35:38,notpassing,\n
661461,HarvardX/CS50x/2014_T1,1934683,True,False,,False,False,94.54.53.235,TR,Turkey,...,Student,0,0,0,honor,0,2014-06-06 15:08:25,2014-09-15 16:35:38,notpassing,\n
661462,HarvardX/CS50x/2014_T1,1934683,True,False,,False,False,94.54.53.235,TR,Turkey,...,Student,0,0,0,honor,0,2014-06-06 15:08:25,2014-09-15 16:35:38,notpassing,\n
661463,HarvardX/CS50x/2014_T1,1934683,True,False,,False,False,94.54.53.235,TR,Turkey,...,Student,0,0,0,honor,0,2014-06-06 15:08:25,2014-09-15 16:35:38,notpassing,\n
661464,HarvardX/CS50x/2014_T1,1934683,True,False,,False,False,94.54.53.235,TR,Turkey,...,Student,0,0,0,honor,0,2014-06-06 15:08:25,2014-09-15 16:35:38,notpassing,\n
661465,HarvardX/CS50x/2014_T1,1934683,True,False,,False,False,94.54.53.235,TR,Turkey,...,Student,0,0,0,honor,0,2014-06-06 15:08:25,2014-09-15 16:35:38,notpassing,\n
661466,HarvardX/CS50x/2014_T1,1934683,True,False,,False,False,94.54.53.235,TR,Turkey,...,Student,0,0,0,honor,0,2014-06-06 15:08:25,2014-09-15 16:35:38,notpassing,\n
661467,HarvardX/CS50x/2014_T1,1934683,True,False,,False,False,94.54.53.235,TR,Turkey,...,Student,0,0,0,honor,0,2014-06-06 15:08:25,2014-09-15 16:35:38,notpassing,\n
661468,HarvardX/CS50x/2014_T1,1934683,True,False,,False,False,94.54.53.235,TR,Turkey,...,Student,0,0,0,honor,0,2014-06-06 15:08:25,2014-09-15 16:35:38,notpassing,\n
661469,HarvardX/CS50x/2014_T1,1934683,True,False,,False,False,94.54.53.235,TR,Turkey,...,Student,0,0,0,honor,0,2014-06-06 15:08:25,2014-09-15 16:35:38,notpassing,\n
661470,HarvardX/CS50x/2014_T1,1934683,True,False,,False,False,94.54.53.235,TR,Turkey,...,Student,0,0,0,honor,0,2014-06-06 15:08:25,2014-09-15 16:35:38,notpassing,\n
661471,HarvardX/CS50x/2014_T1,1934683,True,False,,False,False,94.54.53.235,TR,Turkey,...,Student,0,0,0,honor,0,2014-06-06 15:08:25,2014-09-15 16:35:38,notpassing,\n
661472,HarvardX/CS50x/2014_T1,1934683,True,False,,False,False,94.54.53.235,TR,Turkey,...,Student,0,0,0,honor,0,2014-06-06 15:08:25,2014-09-15 16:35:38,notpassing,\n
661473,HarvardX/CS50x/2014_T1,1934683,True,False,,False,False,94.54.53.235,TR,Turkey,...,Student,0,0,0,honor,0,2014-06-06 15:08:25,2014-09-15 16:35:38,notpassing,\n
661474,HarvardX/CS50x/2014_T1,1934683,True,False,,False,False,94.54.53.235,TR,Turkey,...,Student,0,0,0,honor,0,2014-06-06 15:08:25,2014-09-15 16:35:38,notpassing,\n
661475,HarvardX/CS50x/2014_T1,1934683,True,False,,False,False,94.54.53.235,TR,Turkey,...,Student,0,0,0,honor,0,2014-06-06 15:08:25,2014-09-15 16:35:38,notpassing,\n
661476,HarvardX/CS50x/2014_T1,1934683,True,False,,False,False,94.54.53.235,TR,Turkey,...,Student,0,0,0,honor,0,2014-06-06 15:08:25,2014-09-15 16:35:38,notpassing,\n
661477,HarvardX/CS50x/2014_T1,1934683,True,False,,False,False,94.54.53.235,TR,Turkey,...,Student,0,0,0,honor,0,2014-06-06 15:08:25,2014-09-15 16:35:38,notpassing,\n
661478,HarvardX/CS50x/2014_T1,1934683,True,False,,False,False,94.54.53.235,TR,Turkey,...,Student,0,0,0,honor,0,2014-06-06 15:08:25,2014-09-15 16:35:38,notpassing,\n
661479,HarvardX/CS50x/2014_T1,1934683,True,False,,False,False,94.54.53.235,TR,Turkey,...,Student,0,0,0,honor,0,2014-06-06 15:08:25,2014-09-15 16:35:38,notpassing,\n
661480,HarvardX/CS50x/2014_T1,1934738,True,False,,False,False,71.41.229.179,US,United States,...,Student,,,,honor,1,2014-06-06 15:08:24,2014-09-15 16:35:38,notpassing,\n
661481,HarvardX/CS50x/2014_T1,1934738,True,False,,False,False,71.41.229.179,US,United States,...,Student,,,,honor,1,2014-06-06 15:08:24,2014-09-15 16:35:38,notpassing,\n
661482,HarvardX/CS50x/2014_T1,1934738,True,False,,False,False,71.41.229.179,US,United States,...,Student,,,,honor,1,2014-06-06 15:08:24,2014-09-15 16:35:38,notpassing,\n
661483,HarvardX/CS50x/2014_T1,1934738,True,False,,False,False,71.41.229.179,US,United States,...,Student,,,,honor,1,2014-06-06 15:08:24,2014-09-15 16:35:38,notpassing,\n
661484,HarvardX/CS50x/2014_T1,1934738,True,False,,False,False,71.41.229.179,US,United States,...,Student,,,,honor,1,2014-06-06 15:08:24,2014-09-15 16:35:38,notpassing,\n
661485,HarvardX/CS50x/2014_T1,1934738,True,False,,False,False,71.41.229.179,US,United States,...,Student,,,,honor,1,2014-06-06 15:08:24,2014-09-15 16:35:38,notpassing,\n

In [10]:
my_header = header.iloc[0].reset_index()['course_id']
my_header

0                course_id
1                  user_id
2               registered
3                   viewed
4                 explored
5                certified
6                completed
7                       ip
8                 cc_by_ip
9             countryLabel
10               continent
11                    city
12                  region
13             subdivision
14              postalCode
15         un_major_region
16       un_economic_group
17    un_developing_nation
18       un_special_region
19                latitude
20               longitude
21                     LoE
22                     YoB
23                  gender
24                   grade
25           passing_grade
26              start_time
27             first_event
28              last_event
29                 nevents
30               ndays_act
31             nplay_video
32               nchapters
33            nforum_posts
34            nforum_votes
35         nforum_endorsed
36          nforum_threads
37         nforum_comments
38           nforum_pinned
39                   roles
40              nprogcheck
41          nproblem_check
42           nforum_events
43                    mode
44               is_active
45       cert_created_date
46      cert_modified_date
47             cert_status
Name: course_id, dtype: object

In [11]:
# Set header dataframe as header of main dataframe
df = df.rename(columns=my_header)

In [12]:
df.head()

,course_id,user_id,registered,viewed,explored,certified,completed,ip,cc_by_ip,countryLabel,...,roles,nprogcheck,nproblem_check,nforum_events,mode,is_active,cert_created_date,cert_modified_date,cert_status,48
0,course_id,user_id,registered,viewed,explored,certified,completed,ip,cc_by_ip,countryLabel,...,roles,nprogcheck,nproblem_check,nforum_events,mode,is_active,cert_created_date,cert_modified_date,cert_status\n,None
1,HarvardX/PH525.1x/1T2018,7940,False,,False,False,81.108.107.58,GB,United Kingdom,Europe,...,0,0,0,audit,1,,,,\n,None
2,HarvardX/PH525.1x/1T2018,7940,False,,False,False,81.108.107.58,GB,United Kingdom,Europe,...,0,0,0,audit,1,,,,\n,None
3,HarvardX/PH525.1x/1T2018,7940,False,,False,False,81.108.107.58,GB,United Kingdom,Europe,...,0,0,0,audit,1,,,,\n,None
4,HarvardX/PH525.1x/1T2018,7940,False,,False,False,81.108.107.58,GB,United Kingdom,Europe,...,0,0,0,audit,1,,,,\n,None

In [13]:
df.drop([0])

,course_id,user_id,registered,viewed,explored,certified,completed,ip,cc_by_ip,countryLabel,...,roles,nprogcheck,nproblem_check,nforum_events,mode,is_active,cert_created_date,cert_modified_date,cert_status,48
1,HarvardX/PH525.1x/1T2018,7940,False,,False,False,81.108.107.58,GB,United Kingdom,Europe,...,0,0,0,audit,1,,,,\n,None
2,HarvardX/PH525.1x/1T2018,7940,False,,False,False,81.108.107.58,GB,United Kingdom,Europe,...,0,0,0,audit,1,,,,\n,None
3,HarvardX/PH525.1x/1T2018,7940,False,,False,False,81.108.107.58,GB,United Kingdom,Europe,...,0,0,0,audit,1,,,,\n,None
4,HarvardX/PH525.1x/1T2018,7940,False,,False,False,81.108.107.58,GB,United Kingdom,Europe,...,0,0,0,audit,1,,,,\n,None
5,HarvardX/PH525.1x/1T2018,7940,False,,False,False,81.108.107.58,GB,United Kingdom,Europe,...,0,0,0,audit,1,,,,\n,None
6,HarvardX/PH525.1x/1T2018,7940,False,,False,False,81.108.107.58,GB,United Kingdom,Europe,...,0,0,0,audit,1,,,,\n,None
7,HarvardX/PH525.1x/1T2018,7940,False,,False,False,81.108.107.58,GB,United Kingdom,Europe,...,0,0,0,audit,1,,,,\n,None
8,HarvardX/PH525.1x/1T2018,7940,False,,False,False,81.108.107.58,GB,United Kingdom,Europe,...,0,0,0,audit,1,,,,\n,None
9,HarvardX/PH525.1x/1T2018,7940,False,,False,False,81.108.107.58,GB,United Kingdom,Europe,...,0,0,0,audit,1,,,,\n,None
10,HarvardX/PH525.1x/1T2018,7940,False,,False,False,81.108.107.58,GB,United Kingdom,Europe,...,0,0,0,audit,1,,,,\n,None
11,HarvardX/PH525.1x/1T2018,7940,False,,False,False,81.108.107.58,GB,United Kingdom,Europe,...,0,0,0,audit,1,,,,\n,None
12,HarvardX/PH525.1x/1T2018,7940,False,,False,False,81.108.107.58,GB,United Kingdom,Europe,...,0,0,0,audit,1,,,,\n,None
13,HarvardX/PH525.1x/1T2018,7940,False,,False,False,81.108.107.58,GB,United Kingdom,Europe,...,0,0,0,audit,1,,,,\n,None
14,HarvardX/PH525.1x/1T2018,7940,False,,False,False,81.108.107.58,GB,United Kingdom,Europe,...,0,0,0,audit,1,,,,\n,None
15,HarvardX/PH525.1x/1T2018,7940,False,,False,False,81.108.107.58,GB,United Kingdom,Europe,...,0,0,0,audit,1,,,,\n,None
16,HarvardX/PH525.1x/1T2018,21193,True,True,False,False,103.108.88.2,,,,...,0,142,0,audit,0,,,,\n,None
17,HarvardX/PH525.1x/1T2018,21193,True,True,False,False,103.108.88.2,,,,...,0,142,0,audit,0,,,,\n,None
18,HarvardX/PH525.1x/1T2018,21193,True,True,False,False,103.108.88.2,,,,...,0,142,0,audit,0,,,,\n,None
19,HarvardX/PH525.1x/1T2018,21193,True,True,False,False,103.108.88.2,,,,...,0,142,0,audit,0,,,,\n,None
20,HarvardX/PH525.1x/1T2018,21193,True,True,False,False,103.108.88.2,,,,...,0,142,0,audit,0,,,,\n,None
21,HarvardX/PH525.1x/1T2018,21193,True,True,False,False,103.108.88.2,,,,...,0,142,0,audit,0,,,,\n,None
22,HarvardX/PH525.1x/1T2018,21193,True,True,False,False,103.108.88.2,,,,...,0,142,0,audit,0,,,,\n,None
23,HarvardX/PH525.1x/1T2018,21193,True,True,False,False,103.108.88.2,,,,...,0,142,0,audit,0,,,,\n,None
24,HarvardX/PH525.1x/1T2018,21193,True,True,False,False,103.108.88.2,,,,...,0,142,0,audit,0,,,,\n,None
25,HarvardX/PH525.1x/1T2018,21193,True,True,False,False,103.108.88.2,,,,...,0,142,0,audit,0,,,,\n,None
26,HarvardX/PH525.1x/1T2018,21193,True,True,False,False,103.108.88.2,,,,...,0,142,0,audit,0,,,,\n,None
27,HarvardX/PH525.1x/1T2018,21193,True,True,False,False,103.108.88.2,,,,...,0,142,0,audit,0,,,,\n,None
28,HarvardX/PH525.1x/1T2018,21193,True,True,False,False,103.108.88.2,,,,...,0,142,0,audit,0,,,,\n,None
29,HarvardX/PH525.1x/1T2018,21193,True,True,False,False,103.108.88.2,,,,...,0,142,0,audit,0,,,,\n,None
30,HarvardX/PH525.1x/1T2018,21193,True,True,False,False,103.108.88.2,,,,...,0,142,0,audit,0,,,,\n,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
661456,HarvardX/CS50x/2014_T1,1934448,True,False,,False,False,,,,...,Student,,,,honor,1,2014-06-06 15:15:08,2014-09-15 16:41:22,notpassing,\n
661457,HarvardX/CS50x/2014_T1,1934683,True,False,,False,False,94.54.53.235,TR,Turkey,...,Student,0,0,0,honor,0,2014-06-06 15:08:25,2014-09-15 16:35:38,notpassing,\n
661458,HarvardX/CS50x/2014_T1,1934683,True,False,,False,False,94.54.53.235,TR,Turkey,...,Student,0,0,0,honor,0,2014-06-06 15:08:25,2014-09-15 16:35:38,notpassing,\n
661459,HarvardX/CS50x/2014_T1,1934683,True,False,,False,False,94.54.53.235,TR,Turkey,...,Student,0,0,0,honor,0,2014-06-06 15:08:25,2014-09-15 16:35:38,notpassing,\n
661460,HarvardX/CS50x/2014_T1,1934683,True,False,,False,False,94.54.53.235,TR,Turkey,...,Student,0,0,0,honor,0,2014-06-06 15:08:25,2014-09-15 16:35:38,notpassing,\n
661461,HarvardX/CS50x/2014_T1,1934683,True,False,,False,False,94.54.53.235,TR,Turkey,...,Student,0,0,0,honor,0,2014-06-06 15:08:25,2014-09-15 16:35:38,notpassing,\n
661462,HarvardX/CS50x/2014_T1,1934683,True,False,,False,False,94.54.53.235,TR,Turkey,...,Student,0,0,0,honor,0,2014-06-06 15:08:25,2014-09-15 16:35:38,notpassing,\n
661463,HarvardX/CS50x/2014_T1,1934683,True,False,,False,False,94.54.53.235,TR,Turkey,...,Student,0,0,0,honor,0,2014-06-06 15:08:25,2014-09-15 16:35:38,notpassing,\n
661464,HarvardX/CS50x/2014_T1,1934683,True,False,,False,False,94.54.53.235,TR,Turkey,...,Student,0,0,0,honor,0,2014-06-06 15:08:25,2014-09-15 16:35:38,notpassing,\n
661465,HarvardX/CS50x/2014_T1,1934683,True,False,,False,False,94.54.53.235,TR,Turkey,...,Student,0,0,0,honor,0,2014-06-06 15:08:25,2014-09-15 16:35:38,notpassing,\n
661466,HarvardX/CS50x/2014_T1,1934683,True,False,,False,False,94.54.53.235,TR,Turkey,...,Student,0,0,0,honor,0,2014-06-06 15:08:25,2014-09-15 16:35:38,notpassing,\n
661467,HarvardX/CS50x/2014_T1,1934683,True,False,,False,False,94.54.53.235,TR,Turkey,...,Student,0,0,0,honor,0,2014-06-06 15:08:25,2014-09-15 16:35:38,notpassing,\n
661468,HarvardX/CS50x/2014_T1,1934683,True,False,,False,False,94.54.53.235,TR,Turkey,...,Student,0,0,0,honor,0,2014-06-06 15:08:25,2014-09-15 16:35:38,notpassing,\n
661469,HarvardX/CS50x/2014_T1,1934683,True,False,,False,False,94.54.53.235,TR,Turkey,...,Student,0,0,0,honor,0,2014-06-06 15:08:25,2014-09-15 16:35:38,notpassing,\n
661470,HarvardX/CS50x/2014_T1,1934683,True,False,,False,False,94.54.53.235,TR,Turkey,...,Student,0,0,0,honor,0,2014-06-06 15:08:25,2014-09-15 16:35:38,notpassing,\n
661471,HarvardX/CS50x/2014_T1,1934683,True,False,,False,False,94.54.53.235,TR,Turkey,...,Student,0,0,0,honor,0,2014-06-06 15:08:25,2014-09-15 16:35:38,notpassing,\n
661472,HarvardX/CS50x/2014_T1,1934683,True,False,,False,False,94.54.53.235,TR,Turkey,...,Student,0,0,0,honor,0,2014-06-06 15:08:25,2014-09-15 16:35:38,notpassing,\n
661473,HarvardX/CS50x/2014_T1,1934683,True,False,,False,False,94.54.53.235,TR,Turkey,...,Student,0,0,0,honor,0,2014-06-06 15:08:25,2014-09-15 16:35:38,notpassing,\n
661474,HarvardX/CS50x/2014_T1,1934683,True,False,,False,False,94.54.53.235,TR,Turkey,...,Student,0,0,0,honor,0,2014-06-06 15:08:25,2014-09-15 16:35:38,notpassing,\n
661475,HarvardX/CS50x/2014_T1,1934683,True,False,,False,False,94.54.53.235,TR,Turkey,...,Student,0,0,0,honor,0,2014-06-06 15:08:25,2014-09-15 16:35:38,notpassing,\n
661476,HarvardX/CS50x/2014_T1,1934683,True,False,,False,False,94.54.53.235,TR,Turkey,...,Student,0,0,0,honor,0,2014-06-06 15:08:25,2014-09-15 16:35:38,notpassing,\n
661477,HarvardX/CS50x/2014_T1,1934683,True,False,,False,False,94.54.53.235,TR,Turkey,...,Student,0,0,0,honor,0,2014-06-06 15:08:25,2014-09-15 16:35:38,notpassing,\n
661478,HarvardX/CS50x/2014_T1,1934683,True,False,,False,False,94.54.53.235,TR,Turkey,...,Student,0,0,0,honor,0,2014-06-06 15:08:25,2014-09-15 16:35:38,notpassing,\n
661479,HarvardX/CS50x/2014_T1,1934683,True,False,,False,False,94.54.53.235,TR,Turkey,...,Student,0,0,0,honor,0,2014-06-06 15:08:25,2014-09-15 16:35:38,notpassing,\n
661480,HarvardX/CS50x/2014_T1,1934738,True,False,,False,False,71.41.229.179,US,United States,...,Student,,,,honor,1,2014-06-06 15:08:24,2014-09-15 16:35:38,notpassing,\n
661481,HarvardX/CS50x/2014_T1,1934738,True,False,,False,False,71.41.229.179,US,United States,...,Student,,,,honor,1,2014-06-06 15:08:24,2014-09-15 16:35:38,notpassing,\n
661482,HarvardX/CS50x/2014_T1,1934738,True,False,,False,False,71.41.229.179,US,United States,...,Student,,,,honor,1,2014-06-06 15:08:24,2014-09-15 16:35:38,notpassing,\n
661483,HarvardX/CS50x/2014_T1,1934738,True,False,,False,False,71.41.229.179,US,United States,...,Student,,,,honor,1,2014-06-06 15:08:24,2014-09-15 16:35:38,notpassing,\n
661484,HarvardX/CS50x/2014_T1,1934738,True,False,,False,False,71.41.229.179,US,United States,...,Student,,,,honor,1,2014-06-06 15:08:24,2014-09-15 16:35:38,notpassing,\n
661485,HarvardX/CS50x/2014_T1,1934738,True,False,,False,False,71.41.229.179,US,United States,...,Student,,,,honor,1,2014-06-06 15:08:24,2014-09-15 16:35:38,notpassing,\n

**Removing Duplicate Records** Now that we have loaded our data into a workable dataframe, we can begin our analysis. We first look for duplicates within the 'user_id' column, a column that should have all unique values, to determine how many duplicate students we have in our dataframe (and thus need to remove).

In [14]:
# Find number of unique records in user_id column
unique_entries = df['user_id'].unique()
print("This dataset has", len(unique_entries), "unique entries")
print("Thus, we have", len(df) - len(unique_entries), "duplicate entries")

This dataset has 49145 unique entries
Thus, we have 612341 duplicate entries

In [15]:
# Create data frame with only unique entries (based on user id)
unique_df = df.drop_duplicates(subset='user_id')

In [16]:
print(len(unique_df))

49145

**Filling Missing Values** With our new dataframe (where non-unique rows have been dropped), we fill all missing values using a statistically representative draw from that column

In [17]:
import numpy as np

Methods for repairing values -- modified from those written for the Reidentification pset. These methods take a statistically representative draw from the values in any given column to repair nan values.

In [18]:
# Generate dictionary with representative proportions from each column
columns = unique_df.columns
columns

Index([           'course_id',              'user_id',           'registered',
                     'viewed',             'explored',            'certified',
                  'completed',                   'ip',             'cc_by_ip',
               'countryLabel',            'continent',                 'city',
                     'region',          'subdivision',           'postalCode',
            'un_major_region',    'un_economic_group', 'un_developing_nation',
          'un_special_region',             'latitude',            'longitude',
                        'LoE',                  'YoB',               'gender',
                      'grade',        'passing_grade',           'start_time',
                'first_event',           'last_event',              'nevents',
                  'ndays_act',          'nplay_video',            'nchapters',
               'nforum_posts',         'nforum_votes',      'nforum_endorsed',
             'nforum_threads',      'nforum_comments',        'nforum_pinned',
                      'roles',           'nprogcheck',       'nproblem_check',
              'nforum_events',                 'mode',            'is_active',
          'cert_created_date',   'cert_modified_date',          'cert_status',
                           48],
      dtype='object')

In [19]:
# Generate dictionary of representative values for each column in our dataframe
col_props = {}
for column in columns:
    col_props[column] = dict(unique_df[column].value_counts(normalize=True))
#print(col_props)

In [20]:
# Method that takes in a column and draws a representative value
def generate_col_val(col):
    possVals = list(col_props[col].keys())
    possProps = list(col_props[col].values())
    propIndex = np.random.choice(len(possVals), 1, p=possProps)
    return(possVals[int(propIndex)])

In [21]:
print(generate_col_val('region'))

In [22]:
# Fill nans (empty values) with a representative draw from column
unique_df.fillna(np.nan)
for col in columns:
    filled_df = unique_df.replace(to_replace={col: {np.nan: generate_col_val(col)}})
filled_df

ValueError: a must be greater than 0

**Repairing "Bad" Values** Now that we have a dataframe with all empty values filled, we also need to look through our dataset to repair any "bad" values.

First, we repair the 'bad' values of those columns whose datatypes are easy to distinguish. Here, a bad value would be some value other than 'TRUE' or 'FALSE' in a binary column, or a non-integer or non-float value in a column that is supposed to contain integers and floats.

In [23]:
# list of columns with TRUE/FALSE values
TF_cols = ['registered', 'explored', 'viewed', 'certified']

In [24]:
# Replace any non-TRUE/FALSE values in these columns with a representative draw from the columns as a whole
for col in TF_cols:
    mask = ((filled_df[col] != ('TRUE')) & (filled_df[col] != ('FALSE')))
    filled_df.loc[mask, col] = generate_col_val(col)

In [25]:
# Unit test - check ot make sure all extraneous values have been replaced for T/F cols
for col in TF_cols:
    print(filled_df[col].value_counts())
print("All tests passed")

True    49145
Name: registered, dtype: int64
False    49145
Name: explored, dtype: int64
True    49145
Name: viewed, dtype: int64
False    49145
Name: certified, dtype: int64
All tests passed

The True/False values for this particular dataset are the only ones that are possible to repair in this fashion. If the dataset were to be fully repaired manually, we could go through each column, determine what the majority datatype was (i.e. string vs int vs float), and then replace all values that are not of that type with a representative draw from the rest of the column, using the function defined above. However, given the number of columns in this dataset, this is not feasible to do manually for this dataset. Thus, this resultant filled dataset, which has filled all empty values, fixed all T/F values, and removed clearly corrupted entries, is a significantly better dataset than the one we started with.

**Problem 2** Some lines may be corrupt; get rid of those or mark them in some way to show that they are not good lines. How many corrupt lines are there? Does the count of corrupt lines change if you get rid of them before getting rid of the duplicate records? What difference might this make to the remaining data set?

First we will count the number of lines in the original dataset. As visible below, there are 661486 lines in the original dataset.

In [26]:
# Note: File path may need to be changed
# Count number of rows in original dataset
f = open("/dirty_sample_small.csv")
reader = csv.DictReader(f)
count = 0
for row in reader:
  count = count+1
print("Count of rows is")
print(count)

Count of rows is
661486

Next, we will remove "corrupt" lines. In order to do this, we first had to decide what "corrupt" means.

We noticed that when we originally tried to read in lines from the dataset, we received errors that the processor was expecting some number of fields and receiving another number of fields. This seemed to be a form of corruption.

In the next section of code, you'll see that we set error_bad_lines = False, which means that lines with too many fields will by default cause an exception to be raised and our code will drop those "bad lines" from the DataFrame.

Of course, there might be many other types of corruption. Maybe values were unintentionally swapped in the dataset. Maybe we don't realize that we are missing several pieces of the data that was collected.

We chose to remove the corrupt lines instead of marking them in some way to simplify the rest of the process. However, you might see that in the next chunk of code, we included "warn_bad_lines = False." When we set this to true, it prints out all of the lines that have been removed and why they were removed. If we (or another interested party) wanted to look back and identify what the issues were with our dataset, we could change it to "warn_bad_lines = True" and observe the errors printed out.

In [27]:
# Note: File path may need to be changed
# Read in original dataset without bad lines (as defined in analysis above)
df2 = pd.read_csv('/dirty_sample_small.csv',warn_bad_lines = False, error_bad_lines = False, low_memory = False)

In [80]:
print("Count of rows after removing corrupt ones from original dataset is ")
print(len(df2))

Count of rows after removing corrupt ones from original dataset is
652326

Since the count of rows started at 661486 and is now 652326, we know that we removed 9,160 rows.

In [81]:
print(df2)

                       course_id  user_id registered viewed explored  \
0       HarvardX/PH525.1x/1T2018     7940      False    NaN    False
1       HarvardX/PH525.1x/1T2018     7940      False    NaN    False
2       HarvardX/PH525.1x/1T2018     7940      False    NaN    False
3       HarvardX/PH525.1x/1T2018     7940      False    NaN    False
4       HarvardX/PH525.1x/1T2018     7940      False    NaN    False
5       HarvardX/PH525.1x/1T2018     7940      False    NaN    False
6       HarvardX/PH525.1x/1T2018     7940      False    NaN    False
7       HarvardX/PH525.1x/1T2018     7940      False    NaN    False
8       HarvardX/PH525.1x/1T2018     7940      False    NaN    False
9       HarvardX/PH525.1x/1T2018     7940      False    NaN    False
10      HarvardX/PH525.1x/1T2018     7940      False    NaN    False
11      HarvardX/PH525.1x/1T2018     7940      False    NaN    False
12      HarvardX/PH525.1x/1T2018     7940      False    NaN    False
13      HarvardX/PH525.1x/1T2018     7940      False    NaN    False
14      HarvardX/PH525.1x/1T2018     7940      False    NaN    False
15      HarvardX/PH525.1x/1T2018    21193       True   True    False
16      HarvardX/PH525.1x/1T2018    21193       True   True    False
17      HarvardX/PH525.1x/1T2018    21193       True   True    False
18      HarvardX/PH525.1x/1T2018    21193       True   True    False
19      HarvardX/PH525.1x/1T2018    21193       True   True    False
20      HarvardX/PH525.1x/1T2018    21193       True   True    False
21      HarvardX/PH525.1x/1T2018    21193       True   True    False
22      HarvardX/PH525.1x/1T2018    21193       True   True    False
23      HarvardX/PH525.1x/1T2018    21193       True   True    False
24      HarvardX/PH525.1x/1T2018    21193       True   True    False
25      HarvardX/PH525.1x/1T2018    21193       True   True    False
26      HarvardX/PH525.1x/1T2018    21193       True   True    False
27      HarvardX/PH525.1x/1T2018    21193       True   True    False
28      HarvardX/PH525.1x/1T2018    21193       True   True    False
29      HarvardX/PH525.1x/1T2018    21193       True   True    False
...                          ...      ...        ...    ...      ...
652296    HarvardX/CS50x/2014_T1  1903682       True  False      NaN
652297    HarvardX/CS50x/2014_T1  1903698       True  False      NaN
652298    HarvardX/CS50x/2014_T1  1905058       True  False      NaN
652299    HarvardX/CS50x/2014_T1  1905197       True   True    False
652300    HarvardX/CS50x/2014_T1  1907720       True   True    False
652301    HarvardX/CS50x/2014_T1  1909184       True   True    False
652302    HarvardX/CS50x/2014_T1  1916566       True  False      NaN
652303    HarvardX/CS50x/2014_T1  1916619       True  False      NaN
652304    HarvardX/CS50x/2014_T1  1917646       True  False      NaN
652305    HarvardX/CS50x/2014_T1  1917925       True  False      NaN
652306    HarvardX/CS50x/2014_T1  1920016       True  False      NaN
652307    HarvardX/CS50x/2014_T1  1920029       True  False      NaN
652308    HarvardX/CS50x/2014_T1  1920308       True  False      NaN
652309    HarvardX/CS50x/2014_T1  1921303       True   True    False
652310    HarvardX/CS50x/2014_T1  1921620       True   True    False
652311    HarvardX/CS50x/2014_T1  1922410       True  False      NaN
652312    HarvardX/CS50x/2014_T1  1922613       True   True    False
652313    HarvardX/CS50x/2014_T1  1923170       True  False      NaN
652314    HarvardX/CS50x/2014_T1  1924412       True  False      NaN
652315    HarvardX/CS50x/2014_T1  1925267       True  False      NaN
652316    HarvardX/CS50x/2014_T1  1925535       True   True    False
652317    HarvardX/CS50x/2014_T1  1926724       True  False      NaN
652318    HarvardX/CS50x/2014_T1  1927220       True  False      NaN
652319    HarvardX/CS50x/2014_T1  1928204       True  False      NaN
652320    HarvardX/CS50x/2014_T1  1929055       True  False      NaN
652321    HarvardX/CS50x/2014_T1  1929991       True  False      NaN
652322    HarvardX/CS50x/2014_T1  1932178       True  False      NaN
652323    HarvardX/CS50x/2014_T1  1932283       True   True    False
652324    HarvardX/CS50x/2014_T1  1932463       True  False      NaN
652325    HarvardX/CS50x/2014_T1  1933117       True  False      NaN

       certified  grade                  start_time  \
0          False    0.7  2018-04-10 08:30:28.055918
1          False    0.7  2018-04-10 08:30:28.055918
2          False    0.7  2018-04-10 08:30:28.055918
3          False    0.7  2018-04-10 08:30:28.055918
4          False    0.7  2018-04-10 08:30:28.055918
5          False    0.7  2018-04-10 08:30:28.055918
6          False    0.7  2018-04-10 08:30:28.055918
7          False    0.7  2018-04-10 08:30:28.055918
8          False    0.7  2018-04-10 08:30:28.055918
9          False    0.7  2018-04-10 08:30:28.055918
10         False    0.7  2018-04-10 08:30:28.055918
11         False    0.7  2018-04-10 08:30:28.055918
12         False    0.7  2018-04-10 08:30:28.055918
13         False    0.7  2018-04-10 08:30:28.055918
14         False    0.7  2018-04-10 08:30:28.055918
15         False    0.7         2018-02-06 00:00:00
16         False    0.7         2018-02-06 00:00:00
17         False    0.7         2018-02-06 00:00:00
18         False    0.7         2018-02-06 00:00:00
19         False    0.7         2018-02-06 00:00:00
20         False    0.7         2018-02-06 00:00:00
21         False    0.7         2018-02-06 00:00:00
22         False    0.7         2018-02-06 00:00:00
23         False    0.7         2018-02-06 00:00:00
24         False    0.7         2018-02-06 00:00:00
25         False    0.7         2018-02-06 00:00:00
26         False    0.7         2018-02-06 00:00:00
27         False    0.7         2018-02-06 00:00:00
28         False    0.7         2018-02-06 00:00:00
29         False    0.7         2018-02-06 00:00:00
...          ...    ...                         ...
652296     False    NaN                         NaN
652297     False    NaN                         NaN
652298     False    NaN                         NaN
652299     False    NaN                         NaN
652300     False    NaN                         NaN
652301     False    NaN                         NaN
652302     False    NaN                         NaN
652303     False    NaN                         NaN
652304     False    NaN                         NaN
652305     False    NaN                         NaN
652306     False    NaN                         NaN
652307     False    NaN                         NaN
652308     False    NaN                         NaN
652309     False    NaN                         NaN
652310     False    NaN                         NaN
652311     False    NaN                         NaN
652312     False    NaN                         NaN
652313     False    NaN                         NaN
652314     False    NaN                         NaN
652315     False    NaN                         NaN
652316     False    NaN                         NaN
652317     False    NaN                         NaN
652318     False    NaN                         NaN
652319     False    NaN                         NaN
652320     False    NaN                         NaN
652321     False    NaN                         NaN
652322     False    NaN                         NaN
652323     False    NaN                         NaN
652324     False    NaN                         NaN
652325     False    NaN                         NaN

                       first_event  last_event     ...       nforum_endorsed  \
0       2018-04-10 08:30:38.600946         6.0     ...                   NaN
1       2018-04-10 08:30:38.600946         6.0     ...                   NaN
2       2018-04-10 08:30:38.600946         6.0     ...                   NaN
3       2018-04-10 08:30:38.600946         6.0     ...                   NaN
4       2018-04-10 08:30:38.600946         6.0     ...                   NaN
5       2018-04-10 08:30:38.600946         6.0     ...                   NaN
6       2018-04-10 08:30:38.600946         6.0     ...                   NaN
7       2018-04-10 08:30:38.600946         6.0     ...                   NaN
8       2018-04-10 08:30:38.600946         6.0     ...                   NaN
9       2018-04-10 08:30:38.600946         6.0     ...                   NaN
10      2018-04-10 08:30:38.600946         6.0     ...                   NaN
11      2018-04-10 08:30:38.600946         6.0     ...                   NaN
12      2018-04-10 08:30:38.600946         6.0     ...                   NaN
13      2018-04-10 08:30:38.600946         6.0     ...                   NaN
14      2018-04-10 08:30:38.600946         6.0     ...                   NaN
15      2018-05-05 18:24:23.645179       785.0     ...                   NaN
16      2018-05-05 18:24:23.645179       785.0     ...                   NaN
17      2018-05-05 18:24:23.645179       785.0     ...                   NaN
18      2018-05-05 18:24:23.645179       785.0     ...                   NaN
19      2018-05-05 18:24:23.645179       785.0     ...                   NaN
20      2018-05-05 18:24:23.645179       785.0     ...                   NaN
21      2018-05-05 18:24:23.645179       785.0     ...                   NaN
22      2018-05-05 18:24:23.645179       785.0     ...                   NaN
23      2018-05-05 18:24:23.645179       785.0     ...                   NaN
24      2018-05-05 18:24:23.645179       785.0     ...                   NaN
25      2018-05-05 18:24:23.645179       785.0     ...                   NaN
26      2018-05-05 18:24:23.645179       785.0     ...                   NaN
27      2018-05-05 18:24:23.645179       785.0     ...                   NaN
28      2018-05-05 18:24:23.645179       785.0     ...                   NaN
29      2018-05-05 18:24:23.645179       785.0     ...                   NaN
...                            ...         ...     ...                   ...
652296                         NaN         NaN     ...                   NaN
652297                         NaN         NaN     ...                   NaN
652298                         NaN         NaN     ...                   NaN
652299                         NaN         NaN     ...                   NaN
652300                         NaN         NaN     ...                   NaN
652301                         NaN         NaN     ...                   NaN
652302                         NaN         NaN     ...                   NaN
652303                         NaN         NaN     ...                   NaN
652304                         NaN         NaN     ...                   NaN
652305                         NaN         NaN     ...                   NaN
652306                         NaN         NaN     ...                   NaN
652307                         NaN         NaN     ...                   NaN
652308                         NaN         NaN     ...                   NaN
652309                         NaN         NaN     ...                   NaN
652310                         NaN         NaN     ...                   NaN
652311                         NaN         NaN     ...                   NaN
652312                         NaN         NaN     ...                   NaN
652313                         NaN         NaN     ...                   NaN
652314                         NaN         NaN     ...                   NaN
652315                         NaN         NaN     ...                   NaN
652316                         NaN         NaN     ...                   NaN
652317                         NaN         NaN     ...                   NaN
652318                         NaN         NaN     ...                   NaN
652319                         NaN         NaN     ...                   NaN
652320                         NaN         NaN     ...                   NaN
652321                         NaN         NaN     ...                   NaN
652322                         NaN         NaN     ...                   NaN
652323                         NaN         NaN     ...                   NaN
652324                         NaN         NaN     ...                   NaN
652325                         NaN         NaN     ...                   NaN

        nforum_threads  nforum_comments  nprogcheck  nproblem_check  mode  \
0                  NaN              NaN         0.0             0.0   1.0
1                  NaN              NaN         0.0             0.0   1.0
2                  NaN              NaN         0.0             0.0   1.0
3                  NaN              NaN         0.0             0.0   1.0
4                  NaN              NaN         0.0             0.0   1.0
5                  NaN              NaN         0.0             0.0   1.0
6                  NaN              NaN         0.0             0.0   1.0
7                  NaN              NaN         0.0             0.0   1.0
8                  NaN              NaN         0.0             0.0   1.0
9                  NaN              NaN         0.0             0.0   1.0
10                 NaN              NaN         0.0             0.0   1.0
11                 NaN              NaN         0.0             0.0   1.0
12                 NaN              NaN         0.0             0.0   1.0
13                 NaN              NaN         0.0             0.0   1.0
14                 NaN              NaN         0.0             0.0   1.0
15                 NaN              NaN       142.0             0.0   0.0
16                 NaN              NaN       142.0             0.0   0.0
17                 NaN              NaN       142.0             0.0   0.0
18                 NaN              NaN       142.0             0.0   0.0
19                 NaN              NaN       142.0             0.0   0.0
20                 NaN              NaN       142.0             0.0   0.0
21                 NaN              NaN       142.0             0.0   0.0
22                 NaN              NaN       142.0             0.0   0.0
23                 NaN              NaN       142.0             0.0   0.0
24                 NaN              NaN       142.0             0.0   0.0
25                 NaN              NaN       142.0             0.0   0.0
26                 NaN              NaN       142.0             0.0   0.0
27                 NaN              NaN       142.0             0.0   0.0
28                 NaN              NaN       142.0             0.0   0.0
29                 NaN              NaN       142.0             0.0   0.0
...                ...              ...         ...             ...   ...
652296             NaN              NaN         NaN             NaN   NaN
652297             NaN              NaN         NaN             NaN   NaN
652298             NaN              NaN         NaN             NaN   NaN
652299             NaN              NaN         NaN             NaN   NaN
652300             NaN              NaN         NaN             NaN   NaN
652301             NaN              NaN         NaN             NaN   NaN
652302             NaN              NaN         NaN             NaN   NaN
652303             NaN              NaN         NaN             NaN   NaN
652304             NaN              NaN         NaN             NaN   NaN
652305             NaN              NaN         NaN             NaN   NaN
652306             NaN              NaN         NaN             NaN   NaN
652307             NaN              NaN         NaN             NaN   NaN
652308             NaN              NaN         NaN             NaN   NaN
652309             NaN              NaN         NaN             NaN   NaN
652310             NaN              NaN         NaN             NaN   NaN
652311             NaN              NaN         NaN             NaN   NaN
652312             NaN              NaN         NaN             NaN   NaN
652313             NaN              NaN         NaN             NaN   NaN
652314             NaN              NaN         NaN             NaN   NaN
652315             NaN              NaN         NaN             NaN   NaN
652316             NaN              NaN         NaN             NaN   NaN
652317             NaN              NaN         NaN             NaN   NaN
652318             NaN              NaN         NaN             NaN   NaN
652319             NaN              NaN         NaN             NaN   NaN
652320             NaN              NaN         NaN             NaN   NaN
652321             NaN              NaN         NaN             NaN   NaN
652322             NaN              NaN         NaN             NaN   NaN
652323             NaN              NaN         NaN             NaN   NaN
652324             NaN              NaN         NaN             NaN   NaN
652325             NaN              NaN         NaN             NaN   NaN

        is_active  cert_created_date  cert_modified_date  cert_status
0             NaN                NaN                 NaN          NaN
1             NaN                NaN                 NaN          NaN
2             NaN                NaN                 NaN          NaN
3             NaN                NaN                 NaN          NaN
4             NaN                NaN                 NaN          NaN
5             NaN                NaN                 NaN          NaN
6             NaN                NaN                 NaN          NaN
7             NaN                NaN                 NaN          NaN
8             NaN                NaN                 NaN          NaN
9             NaN                NaN                 NaN          NaN
10            NaN                NaN                 NaN          NaN
11            NaN                NaN                 NaN          NaN
12            NaN                NaN                 NaN          NaN
13            NaN                NaN                 NaN          NaN
14            NaN                NaN                 NaN          NaN
15            NaN                NaN                 NaN          NaN
16            NaN                NaN                 NaN          NaN
17            NaN                NaN                 NaN          NaN
18            NaN                NaN                 NaN          NaN
19            NaN                NaN                 NaN          NaN
20            NaN                NaN                 NaN          NaN
21            NaN                NaN                 NaN          NaN
22            NaN                NaN                 NaN          NaN
23            NaN                NaN                 NaN          NaN
24            NaN                NaN                 NaN          NaN
25            NaN                NaN                 NaN          NaN
26            NaN                NaN                 NaN          NaN
27            NaN                NaN                 NaN          NaN
28            NaN                NaN                 NaN          NaN
29            NaN                NaN                 NaN          NaN
...           ...                ...                 ...          ...
652296        NaN                NaN                 NaN          NaN
652297        NaN                NaN                 NaN          NaN
652298        NaN                NaN                 NaN          NaN
652299        NaN                NaN                 NaN          NaN
652300        NaN                NaN                 NaN          NaN
652301        NaN                NaN                 NaN          NaN
652302        NaN                NaN                 NaN          NaN
652303        NaN                NaN                 NaN          NaN
652304        NaN                NaN                 NaN          NaN
652305        NaN                NaN                 NaN          NaN
652306        NaN                NaN                 NaN          NaN
652307        NaN                NaN                 NaN          NaN

Next, we noticed several oddities in the DataFrame. It appears that many of the columns were corrupted with swapped values, including "completed", "ip", "cc_by_ip", "countryLabel", "continent", "city", "region", "subdivision", "postalCode", "un_major_region", "un_economic_group", "un_developing_nation", "un_special_region", "latitude", "longitude", "LoE", "YoB", "gender", "passing_grade", "nforum_events", "nforum_pinned", and "roles". For example, the "ip" column is filled with values like "GB" and "BR" that appear to be country codes. The "completed" column is filled with values that appear to be in the format of ip numbers. We considered swapping these values back in order to repair the DataFrame but chose not to take the risk of assuming features of the data just based on characteristics like formatting. While it certainly looks like the "completed" column contains the "ip" numbers, how would we switch them back? Replace this user's "ip" value with this user's "completed" value? What if they weren't just swapped horizontally? What if this was in fact corrupted in combination with another dataset? For these reasons, we chose to get rid of these columns. While this obviously cuts down on the data available to analyze (e.g. we're losing all location information), we value accuracy and did not want to make assumptions about the data that might damage its accuracy further. We chose to drop only one columns in each cell so that someone looking at our notebook in the future would be able to recreate any combination of these drop's if they are able to investigate further into the corruption of the data and come to accurate conclusions about how it can be repaired more completely.

In [82]:
df2 = df2.drop('completed', 1)

KeyError: "['completed'] not found in axis"

In [83]:
df2 = df2.drop('ip', 1)

KeyError: "['ip'] not found in axis"

In [84]:
df2 = df2.drop('cc_by_ip', 1)

KeyError: "['cc_by_ip'] not found in axis"

In [85]:
df2 = df2.drop('countryLabel', 1)

KeyError: "['countryLabel'] not found in axis"

In [34]:
df2 = df2.drop('continent', 1)

In [35]:
df2 = df2.drop('city', 1)

In [36]:
df2 = df2.drop('region', 1)

In [37]:
df2 = df2.drop('subdivision', 1)

In [38]:
df2 = df2.drop('postalCode', 1)

In [39]:
df2 = df2.drop('un_major_region', 1)

In [40]:
df2 = df2.drop('un_economic_group', 1)

In [41]:
df2 = df2.drop('un_developing_nation', 1)

In [42]:
df2 = df2.drop('un_special_region', 1)

In [43]:
df2 = df2.drop('latitude', 1)

In [44]:
df2 = df2.drop('longitude', 1)

In [45]:
df2 = df2.drop('LoE', 1)

In [46]:
df2 = df2.drop('YoB', 1)

In [47]:
df2 = df2.drop('gender', 1)

In [48]:
df2 = df2.drop('nforum_events', 1)

In [49]:
df2 = df2.drop('nforum_pinned',1)

In [50]:
df2 = df2.drop('roles',1)

In [51]:
df2 = df2.drop('passing_grade',1)

In [52]:
print(df2)

652326
                       course_id  user_id registered viewed explored  \
0       HarvardX/PH525.1x/1T2018     7940      False    NaN    False
1       HarvardX/PH525.1x/1T2018     7940      False    NaN    False
2       HarvardX/PH525.1x/1T2018     7940      False    NaN    False
3       HarvardX/PH525.1x/1T2018     7940      False    NaN    False
4       HarvardX/PH525.1x/1T2018     7940      False    NaN    False
5       HarvardX/PH525.1x/1T2018     7940      False    NaN    False
6       HarvardX/PH525.1x/1T2018     7940      False    NaN    False
7       HarvardX/PH525.1x/1T2018     7940      False    NaN    False
8       HarvardX/PH525.1x/1T2018     7940      False    NaN    False
9       HarvardX/PH525.1x/1T2018     7940      False    NaN    False
10      HarvardX/PH525.1x/1T2018     7940      False    NaN    False
11      HarvardX/PH525.1x/1T2018     7940      False    NaN    False
12      HarvardX/PH525.1x/1T2018     7940      False    NaN    False
13      HarvardX/PH525.1x/1T2018     7940      False    NaN    False
14      HarvardX/PH525.1x/1T2018     7940      False    NaN    False
15      HarvardX/PH525.1x/1T2018    21193       True   True    False
16      HarvardX/PH525.1x/1T2018    21193       True   True    False
17      HarvardX/PH525.1x/1T2018    21193       True   True    False
18      HarvardX/PH525.1x/1T2018    21193       True   True    False
19      HarvardX/PH525.1x/1T2018    21193       True   True    False
20      HarvardX/PH525.1x/1T2018    21193       True   True    False
21      HarvardX/PH525.1x/1T2018    21193       True   True    False
22      HarvardX/PH525.1x/1T2018    21193       True   True    False
23      HarvardX/PH525.1x/1T2018    21193       True   True    False
24      HarvardX/PH525.1x/1T2018    21193       True   True    False
25      HarvardX/PH525.1x/1T2018    21193       True   True    False
26      HarvardX/PH525.1x/1T2018    21193       True   True    False
27      HarvardX/PH525.1x/1T2018    21193       True   True    False
28      HarvardX/PH525.1x/1T2018    21193       True   True    False
29      HarvardX/PH525.1x/1T2018    21193       True   True    False
...                          ...      ...        ...    ...      ...
652296    HarvardX/CS50x/2014_T1  1903682       True  False      NaN
652297    HarvardX/CS50x/2014_T1  1903698       True  False      NaN
652298    HarvardX/CS50x/2014_T1  1905058       True  False      NaN
652299    HarvardX/CS50x/2014_T1  1905197       True   True    False
652300    HarvardX/CS50x/2014_T1  1907720       True   True    False
652301    HarvardX/CS50x/2014_T1  1909184       True   True    False
652302    HarvardX/CS50x/2014_T1  1916566       True  False      NaN
652303    HarvardX/CS50x/2014_T1  1916619       True  False      NaN
652304    HarvardX/CS50x/2014_T1  1917646       True  False      NaN
652305    HarvardX/CS50x/2014_T1  1917925       True  False      NaN
652306    HarvardX/CS50x/2014_T1  1920016       True  False      NaN
652307    HarvardX/CS50x/2014_T1  1920029       True  False      NaN
652308    HarvardX/CS50x/2014_T1  1920308       True  False      NaN
652309    HarvardX/CS50x/2014_T1  1921303       True   True    False
652310    HarvardX/CS50x/2014_T1  1921620       True   True    False
652311    HarvardX/CS50x/2014_T1  1922410       True  False      NaN
652312    HarvardX/CS50x/2014_T1  1922613       True   True    False
652313    HarvardX/CS50x/2014_T1  1923170       True  False      NaN
652314    HarvardX/CS50x/2014_T1  1924412       True  False      NaN
652315    HarvardX/CS50x/2014_T1  1925267       True  False      NaN
652316    HarvardX/CS50x/2014_T1  1925535       True   True    False
652317    HarvardX/CS50x/2014_T1  1926724       True  False      NaN
652318    HarvardX/CS50x/2014_T1  1927220       True  False      NaN
652319    HarvardX/CS50x/2014_T1  1928204       True  False      NaN
652320    HarvardX/CS50x/2014_T1  1929055       True  False      NaN
652321    HarvardX/CS50x/2014_T1  1929991       True  False      NaN
652322    HarvardX/CS50x/2014_T1  1932178       True  False      NaN
652323    HarvardX/CS50x/2014_T1  1932283       True   True    False
652324    HarvardX/CS50x/2014_T1  1932463       True  False      NaN
652325    HarvardX/CS50x/2014_T1  1933117       True  False      NaN

       certified  grade                  start_time  \
0          False    0.7  2018-04-10 08:30:28.055918
1          False    0.7  2018-04-10 08:30:28.055918
2          False    0.7  2018-04-10 08:30:28.055918
3          False    0.7  2018-04-10 08:30:28.055918
4          False    0.7  2018-04-10 08:30:28.055918
5          False    0.7  2018-04-10 08:30:28.055918
6          False    0.7  2018-04-10 08:30:28.055918
7          False    0.7  2018-04-10 08:30:28.055918
8          False    0.7  2018-04-10 08:30:28.055918
9          False    0.7  2018-04-10 08:30:28.055918
10         False    0.7  2018-04-10 08:30:28.055918
11         False    0.7  2018-04-10 08:30:28.055918
12         False    0.7  2018-04-10 08:30:28.055918
13         False    0.7  2018-04-10 08:30:28.055918
14         False    0.7  2018-04-10 08:30:28.055918
15         False    0.7         2018-02-06 00:00:00
16         False    0.7         2018-02-06 00:00:00
17         False    0.7         2018-02-06 00:00:00
18         False    0.7         2018-02-06 00:00:00
19         False    0.7         2018-02-06 00:00:00
20         False    0.7         2018-02-06 00:00:00
21         False    0.7         2018-02-06 00:00:00
22         False    0.7         2018-02-06 00:00:00
23         False    0.7         2018-02-06 00:00:00
24         False    0.7         2018-02-06 00:00:00
25         False    0.7         2018-02-06 00:00:00
26         False    0.7         2018-02-06 00:00:00
27         False    0.7         2018-02-06 00:00:00
28         False    0.7         2018-02-06 00:00:00
29         False    0.7         2018-02-06 00:00:00
...          ...    ...                         ...
652296     False    NaN                         NaN
652297     False    NaN                         NaN
652298     False    NaN                         NaN
652299     False    NaN                         NaN
652300     False    NaN                         NaN
652301     False    NaN                         NaN
652302     False    NaN                         NaN
652303     False    NaN                         NaN
652304     False    NaN                         NaN
652305     False    NaN                         NaN
652306     False    NaN                         NaN
652307     False    NaN                         NaN
652308     False    NaN                         NaN
652309     False    NaN                         NaN
652310     False    NaN                         NaN
652311     False    NaN                         NaN
652312     False    NaN                         NaN
652313     False    NaN                         NaN
652314     False    NaN                         NaN
652315     False    NaN                         NaN
652316     False    NaN                         NaN
652317     False    NaN                         NaN
652318     False    NaN                         NaN
652319     False    NaN                         NaN
652320     False    NaN                         NaN
652321     False    NaN                         NaN
652322     False    NaN                         NaN
652323     False    NaN                         NaN
652324     False    NaN                         NaN
652325     False    NaN                         NaN

                       first_event  last_event     ...       nforum_endorsed  \
0       2018-04-10 08:30:38.600946         6.0     ...                   NaN
1       2018-04-10 08:30:38.600946         6.0     ...                   NaN
2       2018-04-10 08:30:38.600946         6.0     ...                   NaN
3       2018-04-10 08:30:38.600946         6.0     ...                   NaN
4       2018-04-10 08:30:38.600946         6.0     ...                   NaN
5       2018-04-10 08:30:38.600946         6.0     ...                   NaN
6       2018-04-10 08:30:38.600946         6.0     ...                   NaN
7       2018-04-10 08:30:38.600946         6.0     ...                   NaN
8       2018-04-10 08:30:38.600946         6.0     ...                   NaN
9       2018-04-10 08:30:38.600946         6.0     ...                   NaN
10      2018-04-10 08:30:38.600946         6.0     ...                   NaN
11      2018-04-10 08:30:38.600946         6.0     ...                   NaN
12      2018-04-10 08:30:38.600946         6.0     ...                   NaN
13      2018-04-10 08:30:38.600946         6.0     ...                   NaN
14      2018-04-10 08:30:38.600946         6.0     ...                   NaN
15      2018-05-05 18:24:23.645179       785.0     ...                   NaN
16      2018-05-05 18:24:23.645179       785.0     ...                   NaN
17      2018-05-05 18:24:23.645179       785.0     ...                   NaN
18      2018-05-05 18:24:23.645179       785.0     ...                   NaN
19      2018-05-05 18:24:23.645179       785.0     ...                   NaN
20      2018-05-05 18:24:23.645179       785.0     ...                   NaN
21      2018-05-05 18:24:23.645179       785.0     ...                   NaN
22      2018-05-05 18:24:23.645179       785.0     ...                   NaN
23      2018-05-05 18:24:23.645179       785.0     ...                   NaN
24      2018-05-05 18:24:23.645179       785.0     ...                   NaN
25      2018-05-05 18:24:23.645179       785.0     ...                   NaN
26      2018-05-05 18:24:23.645179       785.0     ...                   NaN
27      2018-05-05 18:24:23.645179       785.0     ...                   NaN
28      2018-05-05 18:24:23.645179       785.0     ...                   NaN
29      2018-05-05 18:24:23.645179       785.0     ...                   NaN
...                            ...         ...     ...                   ...
652296                         NaN         NaN     ...                   NaN
652297                         NaN         NaN     ...                   NaN
652298                         NaN         NaN     ...                   NaN
652299                         NaN         NaN     ...                   NaN
652300                         NaN         NaN     ...                   NaN
652301                         NaN         NaN     ...                   NaN
652302                         NaN         NaN     ...                   NaN
652303                         NaN         NaN     ...                   NaN
652304                         NaN         NaN     ...                   NaN
652305                         NaN         NaN     ...                   NaN
652306                         NaN         NaN     ...                   NaN
652307                         NaN         NaN     ...                   NaN
652308                         NaN         NaN     ...                   NaN
652309                         NaN         NaN     ...                   NaN
652310                         NaN         NaN     ...                   NaN
652311                         NaN         NaN     ...                   NaN
652312                         NaN         NaN     ...                   NaN
652313                         NaN         NaN     ...                   NaN
652314                         NaN         NaN     ...                   NaN
652315                         NaN         NaN     ...                   NaN
652316                         NaN         NaN     ...                   NaN
652317                         NaN         NaN     ...                   NaN
652318                         NaN         NaN     ...                   NaN
652319                         NaN         NaN     ...                   NaN
652320                         NaN         NaN     ...                   NaN
652321                         NaN         NaN     ...                   NaN
652322                         NaN         NaN     ...                   NaN
652323                         NaN         NaN     ...                   NaN
652324                         NaN         NaN     ...                   NaN
652325                         NaN         NaN     ...                   NaN

        nforum_threads  nforum_comments  nprogcheck  nproblem_check  mode  \
0                  NaN              NaN         0.0             0.0   1.0
1                  NaN              NaN         0.0             0.0   1.0
2                  NaN              NaN         0.0             0.0   1.0
3                  NaN              NaN         0.0             0.0   1.0
4                  NaN              NaN         0.0             0.0   1.0
5                  NaN              NaN         0.0             0.0   1.0
6                  NaN              NaN         0.0             0.0   1.0
7                  NaN              NaN         0.0             0.0   1.0
8                  NaN              NaN         0.0             0.0   1.0
9                  NaN              NaN         0.0             0.0   1.0
10                 NaN              NaN         0.0             0.0   1.0
11                 NaN              NaN         0.0             0.0   1.0
12                 NaN              NaN         0.0             0.0   1.0
13                 NaN              NaN         0.0             0.0   1.0
14                 NaN              NaN         0.0             0.0   1.0
15                 NaN              NaN       142.0             0.0   0.0
16                 NaN              NaN       142.0             0.0   0.0
17                 NaN              NaN       142.0             0.0   0.0
18                 NaN              NaN       142.0             0.0   0.0
19                 NaN              NaN       142.0             0.0   0.0
20                 NaN              NaN       142.0             0.0   0.0
21                 NaN              NaN       142.0             0.0   0.0
22                 NaN              NaN       142.0             0.0   0.0
23                 NaN              NaN       142.0             0.0   0.0
24                 NaN              NaN       142.0             0.0   0.0
25                 NaN              NaN       142.0             0.0   0.0
26                 NaN              NaN       142.0             0.0   0.0
27                 NaN              NaN       142.0             0.0   0.0
28                 NaN              NaN       142.0             0.0   0.0
29                 NaN              NaN       142.0             0.0   0.0
...                ...              ...         ...             ...   ...
652296             NaN              NaN         NaN             NaN   NaN
652297             NaN              NaN         NaN             NaN   NaN
652298             NaN              NaN         NaN             NaN   NaN
652299             NaN              NaN         NaN             NaN   NaN
652300             NaN              NaN         NaN             NaN   NaN
652301             NaN              NaN         NaN             NaN   NaN
652302             NaN              NaN         NaN             NaN   NaN
652303             NaN              NaN         NaN             NaN   NaN
652304             NaN              NaN         NaN             NaN   NaN
652305             NaN              NaN         NaN             NaN   NaN
652306             NaN              NaN         NaN             NaN   NaN
652307             NaN              NaN         NaN             NaN   NaN
652308             NaN              NaN         NaN             NaN   NaN
652309             NaN              NaN         NaN             NaN   NaN
652310             NaN              NaN         NaN             NaN   NaN
652311             NaN              NaN         NaN             NaN   NaN
652312             NaN              NaN         NaN             NaN   NaN
652313             NaN              NaN         NaN             NaN   NaN
652314             NaN              NaN         NaN             NaN   NaN
652315             NaN              NaN         NaN             NaN   NaN
652316             NaN              NaN         NaN             NaN   NaN
652317             NaN              NaN         NaN             NaN   NaN
652318             NaN              NaN         NaN             NaN   NaN
652319             NaN              NaN         NaN             NaN   NaN
652320             NaN              NaN         NaN             NaN   NaN
652321             NaN              NaN         NaN             NaN   NaN
652322             NaN              NaN         NaN             NaN   NaN
652323             NaN              NaN         NaN             NaN   NaN
652324             NaN              NaN         NaN             NaN   NaN
652325             NaN              NaN         NaN             NaN   NaN

        is_active  cert_created_date  cert_modified_date  cert_status
0             NaN                NaN                 NaN          NaN
1             NaN                NaN                 NaN          NaN
2             NaN                NaN                 NaN          NaN
3             NaN                NaN                 NaN          NaN
4             NaN                NaN                 NaN          NaN
5             NaN                NaN                 NaN          NaN
6             NaN                NaN                 NaN          NaN
7             NaN                NaN                 NaN          NaN
8             NaN                NaN                 NaN          NaN
9             NaN                NaN                 NaN          NaN
10            NaN                NaN                 NaN          NaN
11            NaN                NaN                 NaN          NaN
12            NaN                NaN                 NaN          NaN
13            NaN                NaN                 NaN          NaN
14            NaN                NaN                 NaN          NaN
15            NaN                NaN                 NaN          NaN
16            NaN                NaN                 NaN          NaN
17            NaN                NaN                 NaN          NaN
18            NaN                NaN                 NaN          NaN
19            NaN                NaN                 NaN          NaN
20            NaN                NaN                 NaN          NaN
21            NaN                NaN                 NaN          NaN
22            NaN                NaN                 NaN          NaN
23            NaN                NaN                 NaN          NaN
24            NaN                NaN                 NaN          NaN
25            NaN                NaN                 NaN          NaN
26            NaN                NaN                 NaN          NaN
27            NaN                NaN                 NaN          NaN
28            NaN                NaN                 NaN          NaN
29            NaN                NaN                 NaN          NaN
...           ...                ...                 ...          ...
652296        NaN                NaN                 NaN          NaN
652297        NaN                NaN                 NaN          NaN
652298        NaN                NaN                 NaN          NaN
652299        NaN                NaN                 NaN          NaN
652300        NaN                NaN                 NaN          NaN
652301        NaN                NaN                 NaN          NaN
652302        NaN                NaN                 NaN          NaN
652303        NaN                NaN                 NaN          NaN
652304        NaN                NaN                 NaN          NaN
652305        NaN                NaN                 NaN          NaN
652306        NaN                NaN                 NaN          NaN
652307        NaN                NaN                 NaN          NaN

In [ ]:
print(len(df2))

Our choice to fix the category corruption by removing columns did not impact the number of rows in the DataFrame.

Now we will analyze what happens if we execute this process after performing the operations from Problem 1 (getting rid of duplicates and repairing bad or missing values).

In [87]:
print(len(filled_df))

49145

We can see that the DataFrame resulting from Problem 1 has 49,145 rows.

In [53]:
filled_df.to_csv('filled_df.csv')

In [54]:
df3 = pd.read_csv('filled_df.csv',warn_bad_lines = False, error_bad_lines = False, low_memory = False)

In [86]:
print("Count of rows after removing corrupt ones from dataset resulting from Problem 1 is ")
print(len(df3))

Count of rows after removing corrupt ones from dataset resulting from Problem 1 is
49145

In [56]:
print(df3)

       Unnamed: 0                 course_id              user_id  registered  \
0               0                 course_id              user_id        True
1               1  HarvardX/PH525.1x/1T2018                 7940        True
2              16  HarvardX/PH525.1x/1T2018                21193        True
3              38  HarvardX/PH525.1x/1T2018                27938        True
4              48  HarvardX/PH525.1x/1T2018                28454        True
5              71  HarvardX/PH525.1x/1T2018                43100        True
6              79  HarvardX/PH525.1x/1T2018                44413        True
7              98  HarvardX/PH525.1x/1T2018                45324        True
8             117  HarvardX/PH525.1x/1T2018                45875        True
9             128  HarvardX/PH525.1x/1T2018                52081        True
10            129  HarvardX/PH525.1x/1T2018                54513        True
11            139  HarvardX/PH525.1x/1T2018                55052        True
12            146  HarvardX/PH525.1x/1T2018                60651        True
13            157  HarvardX/PH525.1x/1T2018                66844        True
14            175  HarvardX/PH525.1x/1T2018                92609        True
15            181  HarvardX/PH525.1x/1T2018                96940        True
16            185  HarvardX/PH525.1x/1T2018               103932        True
17            193  HarvardX/PH525.1x/1T2018               130945        True
18            209  HarvardX/PH525.1x/1T2018               131747        True
19            227  HarvardX/PH525.1x/1T2018               138037        True
20            242  HarvardX/PH525.1x/1T2018               146228        True
21            245  HarvardX/PH525.1x/1T2018               147242        True
22            248  HarvardX/PH525.1x/1T2018               149301        True
23            263  HarvardX/PH525.1x/1T2018               154222        True
24            268  HarvardX/PH525.1x/1T2018               162178        True
25            291  HarvardX/PH525.1x/1T2018               180319        True
26            308  HarvardX/PH525.1x/1T2018               182774        True
27            316  HarvardX/PH525.1x/1T2018               191113        True
28            340  HarvardX/PH525.1x/1T2018               199858        True
29            349  HarvardX/PH525.1x/1T2018               202469        True
...           ...                       ...                  ...         ...
49115      651781    HarvardX/CS50x/2014_T1              1932179        True
49116      651803    HarvardX/CS50x/2014_T1              1932261        True
49117      651806    HarvardX/CS50x/2014_T1              1932283        True
49118      651822    HarvardX/CS50x/2014_T1              1932358        True
49119      651845    HarvardX/CS50x/2014_T1              1932434        True
49120      651870    HarvardX/CS50x/2014_T1              1932463        True
49121      651884    HarvardX/CS50x/2014_T1              1932508        True
49122      651908    HarvardX/CS50x/2014_T1              1932669        True
49123      651924    HarvardX/CS50x/2014_T1              1932894        True
49124      651928    HarvardX/CS50x/2014_T1              1932924        True
49125      651949    HarvardX/CS50x/2014_T1              1932955        True
49126      651968    HarvardX/CS50x/2014_T1              1933117        True
49127      651975    HarvardX/CS50x/2014_T1              1933173        True
49128      651978    HarvardX/CS50x/2014_T1              1933250        True
49129      651993    HarvardX/CS50x/2014_T1              1933265        True
49130      652005    HarvardX/CS50x/2014_T1              1933353        True
49131      652019    HarvardX/CS50x/2014_T1              1933551        True
49132      652033    HarvardX/CS50x/2014_T1              1933565        True
49133      652036    HarvardX/CS50x/2014_T1              1933677        True
49134      652060    HarvardX/CS50x/2014_T1              1933734        True
49135      652081    HarvardX/CS50x/2014_T1              1933749        True
49136      652105    HarvardX/CS50x/2014_T1              1933839        True
49137      652114    HarvardX/CS50x/2014_T1              1933912        True
49138      652139    HarvardX/CS50x/2014_T1              1934122        True
49139      652160    HarvardX/CS50x/2014_T1              1934306        True
49140      652185    HarvardX/CS50x/2014_T1              1934387        True
49141      652193    HarvardX/CS50x/2014_T1              1934448        True
49142      652210    HarvardX/CS50x/2014_T1              1934683        True
49143      652233    HarvardX/CS50x/2014_T1              1934738        True
49144      652240                   6:36:03  2014-09-15 17:57:23        True

       viewed  explored  certified        completed   ip            cc_by_ip  \
0        True     False      False        completed   ip            cc_by_ip
1        True     False      False    81.108.107.58   GB      United Kingdom
2        True     False      False     103.108.88.2  NaN                 NaN
3        True     False      False  179.214.111.130   BR              Brazil
4        True     False      False   177.18.230.216   BR              Brazil
5        True     False      False    213.249.56.36   GR              Greece
6        True     False      False    95.91.213.204   DE             Germany
7        True     False      False      99.49.42.33   US       United States
8        True     False      False   190.62.244.108   SV         El Salvador
9        True     False      False   165.225.104.86   US       United States
10       True     False      False   71.212.103.239   US       United States
11       True     False      False    83.52.182.143   ES               Spain
12       True     False      False     4.16.254.186   US       United States
13       True     False      False     181.56.67.49   CO            Colombia
14       True     False      False    200.108.131.9   PY            Paraguay
15       True     False      False    174.62.69.127   US       United States
16       True     False      False    75.63.175.139   US       United States
17       True     False      False    159.206.84.40   CA              Canada
18       True     False      False   134.155.231.54   DE             Germany
19       True     False      False    85.152.99.133   ES               Spain
20       True     False      False  199.248.199.110   US       United States
21       True     False      False    212.95.103.18   DE             Germany
22       True     False      False     47.15.189.68   CA              Canada
23       True     False      False   103.26.224.186   IN               India
24       True     False      False   141.133.83.253   US       United States
25       True     False      False      189.6.16.47   BR              Brazil
26       True     False      False   147.175.192.93   SK            Slovakia
27       True     False      False    109.252.90.55   RU  Russian Federation
28       True     False      False    46.103.37.133   GR              Greece
29       True     False      False   128.252.55.251   US       United States
...       ...       ...        ...              ...  ...                 ...
49115    True     False      False              NaN  NaN                 NaN
49116    True     False      False    85.237.162.92   PL              Poland
49117    True     False      False    189.27.146.21   BR              Brazil
49118    True     False      False    197.136.43.31   KE               Kenya
49119    True     False      False      212.37.80.3   SK            Slovakia
49120    True     False      False              NaN  NaN                 NaN
49121    True     False      False              NaN  NaN                 NaN
49122    True     False      False  124.123.227.253   IN               India
49123    True     False      False   116.203.78.109   IN               India
49124    True     False      False              NaN  NaN                 NaN
49125    True     False      False              NaN  NaN                 NaN
49126    True     False      False              NaN  NaN                 NaN
49127    True     False      False     174.56.38.39   US       United States
49128    True     False      False     66.87.131.65   US       United States
49129    True     False      False    176.53.213.97   RU  Russian Federation
49130    True     False      False              NaN  NaN                 NaN
49131    True     False      False     64.134.174.1   US       United States
49132    True     False      False   81.149.111.127   GB      United Kingdom
49133    True     False      False    92.129.53.125   FR              France
49134    True     False      False              NaN  NaN                 NaN
49135    True     False      False   199.255.211.12  NaN                 NaN
49136    True     False      False              NaN  NaN                 NaN
49137    True     False      False              NaN  NaN                 NaN
49138    True     False      False    173.186.30.86   US       United States
49139    True     False      False              NaN  NaN                 NaN
49140    True     False      False    162.231.122.2   US       United States
49141    True     False      False              NaN  NaN                 NaN
49142    True     False      False     94.54.53.235   TR              Turkey
49143    True     False      False    71.41.229.179   US       United States
49144    True     False      False              NaN  NaN                 NaN

      ...  roles  nprogcheck  nproblem_check  nforum_events  mode  \
0     ...  roles  nprogcheck  nproblem_check  nforum_events  mode
1     ...      0           0               0          audit     1
2     ...      0         142               0          audit     0
3     ...      0         207               0          audit     0
4     ...      0           0               0          audit     1
5     ...      0           0               0          audit     1
6     ...      0           0               0          audit     1
7     ...      0           0               0          audit     1
8     ...      0           0               0          audit     0
9     ...      0           0               0          audit     1
10    ...      0         520               0          audit     1
11    ...      0           0               0          audit     1
12    ...      0           0               0          audit     1
13    ...      0           0               0          audit     1
14    ...      0           0               0          audit     0
15    ...      0           0               0          audit     1
16    ...      0           0               0          audit     1
17    ...      0           0               0          audit     1
18    ...    NaN         NaN             NaN          audit     1
19    ...      0           0               0       verified     1
20    ...      0         434               0       verified     1
21    ...      0           0               0          audit     1
22    ...      0           0               0          audit     1
23    ...      0          36               0          audit     1
24    ...      0           0               0          audit     1
25    ...      0           0               0          audit     1
26    ...      0           0               0          audit     1
27    ...      0           0               0          audit     1
28    ...      0           0               0          audit     1
29    ...      0           0               0          audit     1
...   ...    ...         ...             ...            ...   ...
49115 ...    NaN         NaN             NaN          honor     1
49116 ...      0           0               0          honor     1
49117 ...      0           0               0          honor     1
49118 ...      0           0               0          honor     0
49119 ...      0           0               0          honor     0
49120 ...    NaN         NaN             NaN          honor     1
49121 ...    NaN         NaN             NaN          honor     1
49122 ...      0           0               0          honor     1
49123 ...      0           0               0          honor     1
49124 ...    NaN         NaN             NaN          honor     1
49125 ...    NaN         NaN             NaN          honor     1
49126 ...    NaN         NaN             NaN          honor     1
49127 ...    NaN         NaN             NaN          honor     1
49128 ...      0           0               0          honor     0
49129 ...      0           0               0          honor     0
49130 ...    NaN         NaN             NaN          honor     1
49131 ...      0           0               0          honor     1
49132 ...      0           0               0          honor     1
49133 ...    NaN         NaN             NaN          honor     1
49134 ...    NaN         NaN             NaN          honor     1
49135 ...      0           0               0          honor     1
49136 ...    NaN         NaN             NaN          honor     1
49137 ...    NaN         NaN             NaN          honor     1
49138 ...      0           0               0          honor     0
49139 ...    NaN         NaN             NaN          honor     1
49140 ...      0           0               0          honor     1
49141 ...    NaN         NaN             NaN          honor     1
49142 ...      0           0               0          honor     0
49143 ...    NaN         NaN             NaN          honor     1
49144 ...    NaN         NaN             NaN            NaN   NaN

                 is_active    cert_created_date  cert_modified_date  \
0                is_active    cert_created_date  cert_modified_date
1                      NaN                  NaN                 NaN
2                      NaN                  NaN                 NaN
3                      NaN                  NaN                 NaN
4                      NaN                  NaN                 NaN
5                      NaN                  NaN                 NaN
6                      NaN                  NaN                 NaN
7                      NaN                  NaN                 NaN
8                      NaN                  NaN                 NaN
9                      NaN                  NaN                 NaN
10                     NaN                  NaN                 NaN
11                     NaN                  NaN                 NaN
12                     NaN                  NaN                 NaN
13                     NaN                  NaN                 NaN
14                     NaN                  NaN                 NaN
15                     NaN                  NaN                 NaN
16                     NaN                  NaN                 NaN
17                     NaN                  NaN                 NaN
18                     NaN                  NaN                 NaN
19                     NaN                  NaN                 NaN
20     2018-04-24 22:15:07  2018-04-26 00:54:26        downloadable
21                     NaN                  NaN                 NaN
22                     NaN                  NaN                 NaN
23                     NaN                  NaN                 NaN
24                     NaN                  NaN                 NaN
25                     NaN                  NaN                 NaN
26                     NaN                  NaN                 NaN
27                     NaN                  NaN                 NaN
28                     NaN                  NaN                 NaN
29                     NaN                  NaN                 NaN
...                    ...                  ...                 ...
49115  2014-06-06 15:07:45  2014-09-15 16:35:03          notpassing
49116  2014-06-06 15:07:46  2014-09-15 16:35:05          notpassing
49117  2014-06-06 17:02:55  2014-09-15 18:23:59          notpassing
49118  2014-06-06 15:07:48  2014-09-15 16:35:06          notpassing
49119  2014-06-06 15:07:48  2014-09-15 16:35:07          notpassing
49120  2014-06-06 15:07:50  2014-09-15 16:35:08          notpassing
49121  2014-06-06 15:07:51  2014-09-15 16:35:09          notpassing
49122  2014-06-06 15:07:54  2014-09-15 16:35:11          notpassing
49123  2014-06-06 15:07:56  2014-09-15 16:35:13          notpassing
49124  2014-06-06 15:07:57  2014-09-15 16:35:13          notpassing
49125  2014-06-06 15:07:57  2014-09-15 16:35:14          notpassing
49126  2014-06-06 15:08:00  2014-09-15 16:35:16          notpassing
49127  2014-06-06 15:08:01  2014-09-15 16:35:17          notpassing
49128  2014-06-06 15:08:07  2014-09-15 16:35:23          notpassing
49129  2014-06-06 15:08:02  2014-09-15 16:35:18          notpassing
49130  2014-06-06 15:08:03  2014-09-15 16:35:20          notpassing
49131  2014-06-06 15:08:06  2014-09-15 16:35:23          notpassing
49132  2014-06-06 15:08:07  2014-09-15 16:35:23          notpassing
49133  2014-06-06 15:08:09  2014-09-15 16:35:25          notpassing
49134  2014-06-06 15:08:09  2014-09-15 16:35:25          notpassing
49135  2014-06-06 15:08:10  2014-09-15 16:35:25          notpassing
49136  2014-06-06 15:08:10  2014-09-15 16:35:26          notpassing
49137  2014-06-06 15:08:11  2014-09-15 16:35:26          notpassing
49138  2014-06-06 15:50:01  2014-09-15 17:13:00          notpassing
49139  2014-06-06 15:08:18  2014-09-15 16:35:32          notpassing
49140  2014-06-06 15:08:19  2014-09-15 16:35:33          notpassing
49141  2014-06-06 15:15:08  2014-09-15 16:41:22          notpassing
49142  2014-06-06 15:08:25  2014-09-15 16:35:38          notpassing
49143  2014-06-06 15:08:24  2014-09-15 16:35:38          notpassing
49144                  NaN                  NaN                 NaN

                        cert_status  48
0                     cert_status\n NaN
1                                \n NaN
2                                \n NaN
3                                \n NaN
4                                \n NaN
5                                \n NaN
6                                \n NaN
7                                \n NaN
8                                \n NaN
9                                \n NaN
10                               \n NaN
11                               \n NaN
12                               \n NaN
13                               \n NaN
14                               \n NaN
15                               \n NaN
16                               \n NaN
17                               \n NaN
18                               \n NaN
19     2018-01-31 00:10:30.163263\n NaN
20     2018-04-09 20:33:57.855937\n NaN
21                               \n NaN
22                               \n NaN
23                               \n NaN
24                               \n NaN
25                               \n NaN
26                               \n NaN
27                               \n NaN
28                               \n NaN
29                               \n NaN
...                             ...  ..
49115                            \n NaN
49116                            \n NaN
49117                            \n NaN
49118                            \n NaN
49119                            \n NaN
49120                            \n NaN
49121                            \n NaN
49122                            \n NaN
49123                            \n NaN
49124                            \n NaN
49125                            \n NaN
49126                            \n NaN
49127                            \n NaN
49128                            \n NaN
49129                            \n NaN
49130                            \n NaN
49131                            \n NaN
49132                            \n NaN
49133                            \n NaN
49134                            \n NaN
49135                            \n NaN

In [57]:
df3 = df3.drop('completed', 1)

In [58]:
df3 = df3.drop('ip', 1)

In [59]:
df3 = df3.drop('cc_by_ip', 1)

In [60]:
df3 = df3.drop('countryLabel', 1)

In [61]:
df3 = df3.drop('continent', 1)

In [62]:
df3 = df3.drop('city', 1)

In [63]:
df3 = df3.drop('region', 1)

In [64]:
df3 = df3.drop('subdivision', 1)

In [65]:
df3 = df3.drop('postalCode', 1)

In [66]:
df3 = df3.drop('un_major_region', 1)

In [67]:
df3 = df3.drop('un_economic_group', 1)

In [68]:
df3 = df3.drop('un_developing_nation', 1)

In [69]:
df3 = df3.drop('un_special_region', 1)

In [70]:
df3 = df3.drop('latitude', 1)

In [71]:
df3 = df3.drop('longitude', 1)

In [72]:
df3 = df3.drop('LoE', 1)

In [73]:
df3 = df3.drop('YoB', 1)

In [74]:
df3 = df3.drop('gender', 1)

In [75]:
df3 = df3.drop('nforum_events', 1)

In [76]:
df3 = df3.drop('nforum_pinned',1)

In [77]:
df3 = df3.drop('roles',1)

In [78]:
df3 = df3.drop('passing_grade',1)

In [88]:
print(len(df3))

49145

We can see that, after the process in Problem 1, our anti-corruption operations do not remove any complete rows from the dataset.

This is because we remove corruption in two ways. One of the ways is taking out "bad lines" as we read in the dataset. We were not able to remove duplicates (or even read the file) in Problem 1 without removing some level of corruption by removing bad lines, so they have already been removed. The other way is deleting corrupted columns. As discussed above, this does not impact the number of rows.

In future iterations, it might be helpful to figure out which operation is more expensive: removing duplicates or removing corrupt lines. If we could optimize to do the more expensive one on the smaller dataset, we would be better prepared to scale.

**Problem 3** What are some possible sources of bias in this data set? Is there anything unusual about the data set that you should flag?

Now, we will discuss some of the potential manifestations of bias in this dataset.
Firstly, there is inherent bias in which fields EdX chose to collect. For example, it might be an assertion of EdX's own value system to check how many forum posts a user made instead of evaluating the quality of those forum posts. On the other hand, this could just be based on EdX's technical ability (which might be a space of bias in and of itself).

Another manifestation of bias in this dataset might be what the options were for users to select. For example, it seems that users were asked to check their country from a list of options. There are various controversies surrounding how to identify certain countries and this could certainly result in bias.

Another manifestation of bias might be the mere style of entering values. Some fields provide preset options while others ask for user input. It would be interesting to see which style results in more false entries.

Something we found very interesting was the dataset's distinction between developing nations and developed regions. Is this field automatically set by EdX when the user enters their information or does the user get to distinguish?

Additionally, it is worthwhile to note that our methods of repairing data may have introduced bias into the dataset. Given that missing and "bad" values were filled with a representative draw from the remaining data, it is possible that bias could have been introduced based on which values were "bad" in the first place. In order to fix this, it would be worthwhile to conduct an analysis into which data was "bad" or missing in the first place (i.e. if bad or missing data was skewed towards users with a certain profile). Then, the repairs could be corrected accordingly to minimize bias.